{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <ul class="blog-posts">
    {{ $pages := where .Site.RegularPages "Params.tags" "intersect" (slice "飞鸟集" "飞鸟记" "Bird") }}
    
    {{ range (.Paginate $pages).Pages }}
      <li style="margin-bottom: 1.5rem;">
        <span><i><time datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "2006-01-02" }}</time></i></span>
        <div style="display: flex; flex-direction: column; flex-grow: 1;">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ if .Site.Params.listSummaries }}
            <span style="margin-top: 0.5rem; opacity: 0.8; font-size: 0.95em; line-height: 1.6; word-break: break-word;">
              {{ .Summary }}
            </span>
          {{ end }}
        </div>
      </li>
    {{ end }}
  </ul>

  {{ partial "pagination.html" . }}
{{ end }}