{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
<content>
  {{ .Content }}
</content>

<p class="tags" style="margin-top: 2rem;">
  {{ range (.GetTerms "tags") }}
  <span style="margin-right: 8px;">{{ .LinkTitle }}</span>
  {{ end }}
</p>

{{ if eq .Type "blog" }}
{{ $pages := where .Site.RegularPages "Section" "blog" }}
{{ $isParade := false }}
{{ $isBird := false }}
{{ $isLatest := false }}

{{ if intersect .Params.tags (slice "日常") }}
  {{ $isParade = true }}
  {{ $pages = where $pages "Params.tags" "intersect" (slice "日常") }}
{{ else if intersect .Params.tags (slice "飞鸟集" "飞鸟记" "Bird" "bird") }}
  {{ $isBird = true }}
  {{ $pages = where $pages "Params.tags" "intersect" (slice "飞鸟集" "飞鸟记" "Bird" "bird") }}
{{ else }}
  {{ $isLatest = true }}
  {{ $sevenDaysAgo := now.AddDate 0 0 -7 }}
  {{ $pages = where $pages "Date" ">=" $sevenDaysAgo }}
{{ end }}

{{ $prev := false }}
{{ $next := false }}
{{ $current := . }}
{{ range $i, $p := $pages }}
  {{ if eq $p.Permalink $current.Permalink }}
    {{ if gt $i 0 }}
      {{ $next = index $pages (sub $i 1) }}
    {{ end }}
    {{ if lt (add $i 1) (len $pages) }}
      {{ $prev = index $pages (add $i 1) }}
    {{ end }}
  {{ end }}
{{ end }}

<div class="post-navigation" style="margin-top: 3rem; display: flex; justify-content: space-between; border-top: 1px dashed #ccc; padding-top: 1.5rem; padding-bottom: 0.5rem;">
  <div style="flex: 1; padding-left: 2em; padding-right: 1rem;">
    {{ if $next }}
      <a href="{{ $next.Permalink }}" style="text-decoration: none !important;">← {{ $next.Title }}</a>
    {{ end }}
  </div>
  <div style="flex: 1; text-align: right; padding-right: 2em; padding-left: 1rem;">
    {{ if $prev }}
      <a href="{{ $prev.Permalink }}" style="text-decoration: none !important;">{{ $prev.Title }} →</a>
    {{ end }}
  </div>
</div>
{{ end }}
{{ end }}
