{{ define "main" }}
  {{ .Content }}
  <ul class="blog-posts">
    {{ $sevenDaysAgo := now.AddDate 0 0 -7 }}
    {{ range where .Site.RegularPages "Date" ">=" $sevenDaysAgo }}
      <li style="margin-bottom: 1.5rem;">
        <span><i><time datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "2006-01-02" }}</time></i></span>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ if .Site.Params.listSummaries }}
          <div style="margin-top: 0.5rem; opacity: 0.8;">
            {{ .Summary }}
          </div>
        {{ end }}
      </li>
    {{ end }}
  </ul>
{{ end }}