<a
  class="site-footer-note site-footer-note--badge"
  href="https://notbyai.fyi/"
  target="_blank"
  rel="noopener noreferrer"
  aria-label="承诺非AI创作"
>
  <span class="site-footer-badge" aria-hidden="true">
    <img class="site-footer-badge-mark" src='{{ "icons/cc/cc.svg" | relURL }}' alt="" />
    <img class="site-footer-badge-mark" src='{{ "icons/cc/by.svg" | relURL }}' alt="" />
    <img class="site-footer-badge-mark" src='{{ "icons/cc/nc.svg" | relURL }}' alt="" />
    <img class="site-footer-badge-mark" src='{{ "icons/cc/nd.svg" | relURL }}' alt="" />
  </span>
  <span class="site-visually-hidden">承诺非AI创作</span>
</a>
