<footer style="padding-top: 1rem;">
  <hr style="margin-bottom: 0.6rem;">
  
  <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh-hans"> <img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by-nc-nd.svg" style="height: 11px; width: auto; vertical-align: middle;" alt="CC BY-NC-ND"> 承诺非AI创作</a>{{ if and .IsPage (eq .Type "blog") }}<span style="opacity: 0.8;"> · {{ .WordCount }} 字</span>{{ end }}
  <br>

  <div class="footer">
    {{- if .Site.Params.author -}}
      <a class="footer-author" href="{{ .Site.BaseURL }}">{{ .Site.Params.author }}</a> © {{ now.Format "2006" }}
    {{- end -}}
  </div>
</footer>